.aboutUs {
  padding: 3.3rem 2rem;
  max-width: 123rem;
  margin: auto;
  .message {
    min-height: 10rem;
    background-color: #ebebeb;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    // -webkit-box-orient: vertical;
    // -webkit-box-direction: normal;
    // -ms-flex-direction: column;
    flex-direction: column;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    align-items: center;
    width: 100%;
    color: #333333;
    padding: 1.6rem 2.51rem;
    font-weight: 100;
    position: relative;
  }
  .title {
    min-width: 20rem;
    font-size: 2.171rem;
  }
  .title > b {
    font-size: 3.71rem;
  }
  .description {
    font-size: 1.5rem;
    line-height: 2.275rem;
    margin-top: 1rem;
  }
  .icon-cancel {
    margin-left: 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

@media screen and (min-width: 767px) {
  .aboutUs {
    .message {
      flex-direction: row;
      align-items: center;
    }
    .description {
      margin-top: 0;
      margin-left: 0.85rem;
    }
    .icon-cancel {
      top: 0;
      right: 0;
      position: relative;
      flex-direction: row;
      align-items: center;
    }
  }
}

@media screen and (min-width: 992px) {
  .aboutUs {
    padding: 3.3rem 10.2rem;
  }
}
