<template>
  <div class="aboutUs">
    <div class="message">
      <div class="title">
        <span>
          Speak out. Be heard.
        </span>
        <br />
        <b>Be counted</b>
      </div>
      <div class="description">
        Rule of Thumb is a crowd sourced court of public opinion where anyone
        and everyone can speak out and speak freely. It’s easy: You share your
        opinion, we analyze and put the data in a public report.
      </div>
      <div class="icon-cancel">
        <img src="@/assets/icons/close.png" alt="" />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "_aboutUs.scss";
</style>
