.hero {
  height: 74.5rem;
  background: url("./../../assets/imgs/pope.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  will-change: transform;
  .content {
    background: inherit;
    padding: 20rem 2rem 0rem 2rem;
    max-width: 123rem;
    margin: auto;
    .opinion-card {
      position: relative;
      background: inherit;
      max-width: 50rem;
      width: 100%;
      margin: auto;
      .content {
        overflow: hidden;
        color: white;
        position: relative;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        background: inherit;
        z-index: 1;
        &::before {
          content: "";
          background: inherit;
          position: absolute;
          left: -7rem;
          top: -7rem;
          bottom: -7rem;
          right: -7rem;
          box-shadow: inset 0 0 0 3000px rgba(51, 51, 51, 0.5);
          filter: blur(3rem);
        }
      }
      .question {
        font-size: 1.6rem;
        font-weight: 100;
        position: relative;
      }
      .character {
        font-size: 3.2rem;
        font-weight: normal;
        color: white;
        position: relative;
      }
      .information {
        font-size: 2.1rem;
        font-weight: 100;
        margin-top: 1.8rem;
        line-height: 2.1rem;
        position: relative;
        word-spacing: 0.4rem;
      }
      .extra-info {
        position: relative;
        display: flex;
        font-size: 1.4rem;
        font-weight: 100;
        span {
          font-size: 1.8rem;
          img {
            margin-right: 0.5rem;
          }
        }
        a {
          margin-top: 0.3rem;
          color: white;
          text-decoration: underline;
        }
      }
      .verdict {
        margin-top: 4rem;
        font-size: 2rem;
        font-size: 1.6rem;
        font-weight: normal;
        font-weight: 700;
        position: relative;
      }
    }
    .actions {
      display: flex;
      height: 6rem;
      color: white;
      font-size: 2.4rem;
      .positive,
      .negative {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem;
        width: 50%;
        cursor: pointer;
      }
      .positive {
        background-color: rgba(28, 187, 180, 0.9);
        &:hover,
        &:focus {
          background-color: #1fd1c9;
        }
      }
      .negative {
        background-color: rgba(255, 173, 29, 0.9);
        :hover,
        :focus {
          background-color: #ffb637;
        }
      }
    }
  }
  .closing-bar {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 5rem;
    width: 100%;
    .title,
    .time {
      display: flex;
      align-items: center;
      padding: 0 1rem;
    }
    .title {
      font-size: 1.3rem;
      color: white;
      background-color: rgba(70, 70, 70, 0.3);
      width: 70%;
      justify-content: flex-end;
    }
    .time {
      background-color: rgba(255, 255, 255, 0.7);
      color: #464646;
      width: 100%;
      padding: 0 1.45rem;
      .day {
        font-size: 2.4rem;
        font-weight: normal;
      }
      .period {
        font-weight: 100;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .hero {
    .content {
      .opinion-card {
        margin: unset;
      }
    }
    .closing-bar {
      .title {
        width: 35%;
      }
      .time {
        .day {
          font-size: 3.68rem;
        }
      }
    }
  }
}
