<template>
  <div class="hero">
    <div class="content">
      <div class="opinion-card">
        <div class="content">
          <span class="question">
            What's your opinion on
          </span>
          <h2 class="character">
            Pope Francis?
          </h2>
          <p class="information">
            He’s talking tough on clergy sexual abuse, but is he just another
            papal pervert protector? (thumbs down) or a true pedophile punishing
            pontiff? (thumbs up)
          </p>
          <div class="extra-info">
            <span>
              <img src="@/assets/icons/wiki.png" alt="" />
            </span>
            <a>More information</a>
          </div>
          <span class="verdict">
            What's your verdict?
          </span>
        </div>
        <div class="actions">
          <div class="positive">
            <span class="icon-thumb-up">
              <img src="@/assets/icons/thumbUp.png" alt="" />
            </span>
          </div>
          <div class="negative">
            <span class="icon-thumb-down">
              <img src="@/assets/icons/thumbDown.png" alt="" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="closing-bar">
      <div class="title">
        CLOSING IN
      </div>
      <div class="time">
        <div class="day">
          22
          <span class="period">
            days
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "./_hero.scss";
</style>