.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(51, 51, 51, 0)),
      color-stop(60%, rgba(51, 51, 51, 0.53)),
      to(rgba(51, 51, 51, 0.912202))
    );
    background: linear-gradient(
      0deg,
      rgba(51, 51, 51, 0) 0%,
      rgba(51, 51, 51, 0.53) 60%,
      rgba(51, 51, 51, 0.912202) 100%
    );
    height: 11rem;
    color: white;
    padding: 2rem 1rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    .title {
      margin: unset;
      font-size: 2.4rem;
      font-weight: normal;
    }
    .menu {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.2rem;
      font-weight: normal;
      .btn {
        padding: 1.1rem;
        transition: background 0.3s;
        color: white;
        margin-left: 0.1rem;
      }
      .btn:hover,
      .btn:focus {
        text-decoration: underline;
      }
      .icon-search {
        img {
          width: 20px;
        }
      }
    }
}


@media screen and (min-width: 650px) {
  .navbar {
    .menu {
      .btn:nth-child(n + 2) {
        margin-left: 4rem;
      }
    }
  }
}

@media screen and (min-width: 830px) {
  .navbar {
    flex-direction: row;
    padding: 2rem 10rem;
    .title {
      font-size: 3.5rem;
    }
    .menu {
      font-size: 1.5rem;
    }
  }
}