<template>
    <div>
      <nav class="navbar">
          <h2 class="title">
            Rule of Thumb.
          </h2>
          <div class="menu">
            <a class="btn">
              Past Trials
            </a>
            <a class="btn">
              How it works
            </a>
            <a class="btn">
              Log In/Sign Up
            </a>
            <a class="navbar__btn btn icon-search">
              <img src="@/assets/icons/search.png" alt="" />
            </a>
          </div>
        </nav>
    </div>
</template>

<style lang="scss">
@import "./_navbar";
</style>