<template>
<div>
  <button @click="setLocale('es')">ES</button>
  <button @click="setLocale('e')">EN</button>
    <p>{{ $t("navbar.rules") }}</p>
    <p>{{ $t("navbar.trials") }}</p>
    <p>{{ $t("navbar.howItWorks") }}</p>
    <p>{{ $t("navbar.logOrSign") }}</p>
    <p>{{ $t("cardOpinion.title") }}</p>
    <p>{{ $t("cardOpinion.subTitle") }}</p>
    <p>{{ $t("cardOpinion.information") }}</p>
    <p>{{ $t("cardOpinion.getMoreInformation") }}</p>
    <p>{{ $t("cardOpinion.veredict") }}</p>
    <p>{{ $t("closingSection.closingIn") }}</p>
    <p>{{ $t("closingSection.days") }}</p>
    <p>{{ $t("thrumbInformation.title") }}</p>
    <p>{{ $t("thrumbInformation.subTitle") }}</p>
    <p>{{ $t("thrumbInformation.description") }}</p>
    <p>{{ $t("votesSection.title") }}</p>
    <p>{{ $t("sectionAddCelebrity.title") }}</p>
    <p>{{ $t("sectionAddCelebrity.button") }}</p>
</div>
</template>

<script>
export default {
  name: "HelloI18n",
  data() {
    return {
      
    }
  },
  methods: {
    setLocale(language) {
      this.$i18n.locale = language;
    }
  },
};
</script>

