.celebtrities {
  padding: 3.3rem 2rem;
  max-width: 123rem;
  margin: auto;
  .list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 3.03rem;
  }
  .title {
    font-weight: 300;
    font-size: 4rem;
    // margin-bottom: 1rem;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    .item {
      width: 100%;
      position: relative;
    }
    .item:nth-child(n + 2) {
      margin-top: 2.1rem;
    }
    .voting-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 60rem;
      color: white;
      position: relative;
      background-position: right;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: black;
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(rgba(0, 0, 0, 0.71)),
          color-stop(38%, rgba(0, 0, 0, 0.61)),
          color-stop(75%, rgba(0, 0, 0, 0)),
          to(rgba(0, 0, 0, 0))
        );
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.71) 0%,
          rgba(0, 0, 0, 0.61) 38%,
          rgba(0, 0, 0, 0) 75%,
          rgba(0, 0, 0, 0) 100%
        );
      }
      .info {
        padding: 0 4rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        .celebrity {
          font-size: 4.5rem;
          position: relative;
          .overall {
            padding: 0.7rem;
            font-size: 1.8rem;
            width: 3.1rem;
            height: 3.1rem;
            position: absolute;
            left: -4rem;
            bottom: 1rem;
          }
          .positive-vote {
            background-color: #1cbbb4;
            .icon-thumb-up {
              img {
                width: 15px;
              }
            }
          }
          .negative-vote {
            background-color: #ffad1d;
            .icon-thumb-down {
              img {
                width: 15px;
              }
            }
          }
        }
        .period {
          font-size: 1.2rem;
        }
        .description {
          font-size: 1.6rem;
          margin-top: 1.5rem;
          font-weight: 300;
        }
        .celebrity-verdict {
          margin-top: 4rem;
          display: flex;
          align-items: center;
          :nth-child(n + 2) {
            margin-left: 1.3rem;
          }
          .btn-vote {
            padding: 1rem;
            font-size: 1.8rem;
            width: 2rem;
            height: 2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
          .positive-vote {
            background-color: rgba(28, 187, 180, 0.7);
            text-align: left;
            &:hover,
            &:focus {
              background-color: rgba(28, 187, 180, 0.9);
            }
          }
          .negative-vote {
            background-color: rgba(255, 173, 29, 0.9);
            text-align: right;
            :hover,
            :focus {
              background-color: rgba(255, 173, 29, 0.9);
            }
          }
          .btn_selected {
            -webkit-box-shadow: inset 0px 0px 0px 0.2rem white;
            box-shadow: inset 0px 0px 0px 0.2rem white;
          }
          .btn-vote-now {
            min-width: 10rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 1.4rem;
            border: 0.1rem solid;
            border-color: inherit;
            border-color: white;
            &:hover,
            &:focus {
              background-color: white;
              -webkit-text-fill-color: black;
            }
          }
        }
      }
      .votes-counter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        font-size: 2rem;
        font-weight: 100;
        .positive-votes,
        .negative-votes {
          padding: 0.9rem 1rem;
        }
        .positive-votes {
          text-align: left;
          background-color: rgba(28, 187, 180, 0.7);
          .icon-thumb-up {
            img {
              width: 20px;
            }
          }
        }
        .negative-votes {
          text-align: right;
          background-color: rgba(255, 173, 29, 0.7);
          .icon-thumb-down {
            img {
              width: 20px;
            }
          }
        }
      }
    }
    .voting-card > * {
      position: relative;
      z-index: 1;
    }
    .voting-card:nth-child(1) {
      background-image: url("../../assets/imgs/kanye.jpg");
      background-repeat: no-repeat;
    }
    .voting-card:nth-child(2) {
      background-image: url("../../assets/imgs/markZuckerberg.png");
      background-repeat: no-repeat;
    }
    .voting-card:nth-child(3) {
      background-image: url("../../assets/imgs/cristina.jpg");
      background-repeat: no-repeat;
    }
    .voting-card:nth-child(4) {
      background-image: url("../../assets/imgs/malala.jpg");
      background-repeat: no-repeat;
    }
  }
}

@media screen and (min-width: 533px) {
  .celebtrities {
    .gallery {
      .item {
        width: 49.2rem;
        margin: 2.1rem;
      }
      .item:nth-child(n + 2) {
        margin-top: 2.1rem;
      }
    }
  }
}
@media screen and (min-width: 767px) {
  .celebtrities {
    .gallery {
      .voting-card {
        .votes-counter {
          font-size: 2.914rem;
        }
      }
    }
  }
  .votes-counter {
    font-size: 2.914rem;
  }
}

@media screen and (min-width: 992px) {
  .celebtrities {
    padding: 3.3rem 10.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .celebtrities {
    .gallery {
      .item {
        margin: 0.6rem;
      }
      .item:nth-child(n + 2) {
        margin-top: 0.6rem;
      }
    }
  }
}

@media screen and (min-width: 1230px) {
  .celebtrities {
    .gallery {
      margin: -2.1rem;
      .item {
        margin: 2.1rem;
      }
      .item:nth-child(n + 2) {
        margin-top: 2.1rem;
      }
    }
  }
}

@media screen and (min-width: 1212px) {
  .celebtrities {
    .gallery {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.btn {
  cursor: pointer;
  padding: 1.1rem;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
