<template>
  <div class="celebtrities">
    <div class="list">
      <h2 class="title">Votes</h2>
      <div class="gallery">
        <!-- Kanye West -->
        <div class="item voting-card">  
          <div class="info">
            <h2 class="celebrity">
              <div class="overall positive-vote">
                <span class="icon-thumb-up">
                  <img src="@/assets/icons/thumbUp.png" alt="img_celebrity"/>
                </span>
              </div>
              Kanye West
            </h2>
            <div class="period">
              <b>1 month ago</b> in Entertainment
            </div>
            <span class="description">
              Is Kanye West the best rapper of the past two decades?
            </span>
            <div class="celebrity-verdict">
              <button class="btn-vote positive-vote btn_selected">
                <span class="icon-thumb-up">
                  <img
                    src="@/assets/icons/thumbUp.png"
                    alt="Thumb Up"
                    style="width: 20px;"
                  />
                </span>
              </button>
              <button class="btn-vote negative-vote">
                <span class="icon-thumb-down">
                  <img src="@/assets/icons/thumbDown.png" alt="" style="width: 20px;"
                  />
                </span>
              </button>
              <button class="btn btn-vote-now">
                Vote now
              </button>
            </div>
          </div>
          <div class="votes-counter">
            <div class="positive-votes" style="width: 64%;">
              <span class="icon-thumb-up">
                <img src="@/assets/icons/thumbUp.png" alt="Thumb up image"/>
              </span>
              64%
            </div>
            <div class="negative-votes" style="width: 36%;">
              36%
              <span class="icon-thumb-down">
                <img src="@/assets/icons/thumbDown.png" alt="Thumb down image"/>
              </span>
            </div>
          </div>
        </div>

        <!-- Mark Zuckerberg -->
        <div class="item voting-card">
          <div class="info">
            <h2 class="celebrity">
              <div class="overall negative-vote">
                <span class="icon-thumb-down">
                  <img src="@/assets/icons/thumbDown.png" alt="Mark Zuckerberg"/>
                </span>
              </div>
              Mark Zuckerberg
            </h2>
            <div class="period">
              <b>1 month ago</b> in Business
            </div>
            <span class="description">
              Thank you for voting!
            </span>
            <div class="celebrity-verdict">
              <button class="btn btn-vote-now">
                Vote again
              </button>
            </div>
          </div>
          <div class="votes-counter">
            <div class="positive-votes" style="width: 36%;">
              <span class="icon-thumb-up">
                <img src="@/assets/icons/thumbUp.png" alt="Thumb up image"/>
              </span>
              36%
            </div>
            <div class="negative-votes" style="width: 64%;">
              64%
              <span class="icon-thumb-down">
                <img src="@/assets/icons/thumbDown.png" alt="Thumb down image"/>
              </span>
            </div>
          </div>
        </div>

        <!-- Cristina Fernández -->
        <div class="item voting-card">  
          <div class="info">
            <h2 class="celebrity">
              <div class="overall positive-vote">
                <span class="icon-thumb-up">
                  <img src="@/assets/icons/thumbUp.png" alt="img_celebrity"/>
                </span>
              </div>
              Cristina Fernández de Kirchner
            </h2>
            <div class="period">
              <b>1 month ago</b> in Politics
            </div>
            <span class="description">
              Do you agree the politics of Cristina during her time as president of Argentina ?
            </span>
            <div class="celebrity-verdict">
              <button class="btn-vote positive-vote">
                <span class="icon-thumb-up">
                  <img src="@/assets/icons/thumbUp.png" style="width: 20px;" alt="Thumb Up"
                  />
                </span>
              </button>
              <button class="btn-vote negative-vote btn_selected">
                <span class="icon-thumb-down">
                  <img src="@/assets/icons/thumbDown.png" alt="" style="width: 20px;"
                  />
                </span>
              </button>
              <button class="btn btn-vote-now">
                Vote now
              </button>
            </div>
          </div>
          <div class="votes-counter">
            <div class="positive-votes" style="width: 36%;">
              <span class="icon-thumb-up">
                <img src="@/assets/icons/thumbUp.png" alt="Thumb up image"/>
              </span>
              64%
            </div>
            <div class="negative-votes" style="width: 64%;">
              36%
              <span class="icon-thumb-down">
                <img src="@/assets/icons/thumbDown.png" alt="Thumb down image"/>
              </span>
            </div>
          </div>
        </div>

        <!-- Malala Yousafzai -->
        <div class="item voting-card">  
          <div class="info">
            <h2 class="celebrity">
              <div class="overall positive-vote">
                <span class="icon-thumb-up">
                  <img src="@/assets/icons/thumbUp.png" alt="img_celebrity"/>
                </span>
              </div>
              Malala Yousafzai
            </h2>
            <div class="period">
              <b>1 month ago</b> in Entertainment
            </div>
            <span class="description">
              Do you think Malala deserved to win Nobel peace?
            </span>
            <div class="celebrity-verdict">
              <button class="btn-vote positive-vote btn_selected">
                <span class="icon-thumb-up">
                  <img
                    src="@/assets/icons/thumbUp.png"
                    alt="Thumb Up"
                    style="width: 20px;"
                  />
                </span>
              </button>
              <button class="btn-vote negative-vote">
                <span class="icon-thumb-down">
                  <img src="@/assets/icons/thumbDown.png" alt="" style="width: 20px;"
                  />
                </span>
              </button>
              <button class="btn btn-vote-now">
                Vote now
              </button>
            </div>
          </div>
          <div class="votes-counter">
            <div class="positive-votes" style="width: 64%;">
              <span class="icon-thumb-up">
                <img src="@/assets/icons/thumbUp.png" alt="Thumb up image"/>
              </span>
              64%
            </div>
            <div class="negative-votes" style="width: 36%;">
              36%
              <span class="icon-thumb-down">
                <img src="@/assets/icons/thumbDown.png" alt="Thumb down image"/>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "_celerities.scss";
</style>
