.new-celebrity {
  padding: 0.3rem 2rem;
  max-width: 123rem;
  margin: auto;
  .add-celebrity {
    width: 100%;
    min-height: 8rem;
    margin-top: 3.3rem;
    background: url("../../assets/imgs/add-celebrity.jpg");
    background-position-y: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .title {
      display: flex;
      flex-grow: 1;
      font-size: 3rem;
      font-weight: 300;
      text-align: center;
    }
    .btn-add-celebrity {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      width: 20rem;
      min-width: 10rem;
      font-size: 2rem;
      border: 0.3rem solid;
      border-color: inherit;
      &:hover,
      &:focus {
        background-color: black;
        -webkit-text-fill-color: white;
      }
    }
  }
  .add-celebrity > * {
    position: relative;
  }
  
  .add-celebrity:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 0;
    height: 100%;
  }
  
  .add-celebrity :nth-child(n + 2) {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .new-celebrity {
    padding: 0.1rem 10.2rem;
    .add-celebrity {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .title {
        text-align: unset;
      }
    }
  }
}
