<template>
<div class="new-celebrity">
    <div class="add-celebrity">
        <span class="title">
            Is there anyone else you would want us to add?
        </span>
        <button class="btn btn-add-celebrity">
            Submit a Name
        </button>
    </div>
    </div>
</template>

<style lang="scss">
@import "_addCelebrity.scss";
</style>