<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  // background: #fff;
  // overflow: hidden;
  // padding-top: 0;
  // position: relative;
  // width: 100%;
  overflow: hidden;

  //ocuped all space
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
