*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Lucida Grande', sans-serif;
    // overflow-x: hidden;
}
a {
  all: unset;
}

h1 {
  all: unset;
}

button {
  all: unset;
}

// body {
//     background: transparent;
//     height: 100vh;
//     margin: 0;
//     padding: 0;
//   }

video {
    width: 100%;
}

ul {
    text-decoration: none;
    list-style: none;
}

button:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


