.footer {
  padding: 0.3rem 2rem;
  max-width: 123rem;
  margin: auto;
  color: #333333;
  min-height: 5.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.2rem;
  font-weight: 100;
  &:before {
    content: "";
    position: absolute;
    border-top: 3px dotted #707070;
    top: -0.2rem;
    bottom: -0.2rem;
    left: -0.2rem;
    right: -0.2rem;
    z-index: -1;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  .networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1rem;
    /* Media Queries */
  }
  .networks > *:nth-child(n + 2) {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 767px) {
  .footer {
    flex-direction: row;
    .links {
      flex-direction: row;
      align-items: center;
    }
    .links .btn:nth-child(n + 2) {
      margin-left: 1.3rem;
    }
    .networks {
      flex-direction: row;
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .footer {
    padding: 0.1rem 0.2rem;
  }
}

.btn {
  cursor: pointer;
  padding: 1.1rem;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
