<template>
    <footer class="footer">
      <div class="links">
        <a class="btn btn--link" href="auth.html">Terms and Conditions</a>
        <a class="btn btn--link" href="how-it-works.html">Privacy Policy</a>
        <a class="btn btn--link" href="past-trials.html">Contact Us</a>
      </div>
      <div class="networks">
        <span class="footer__social-networks-label">Follow Us</span>
        <span class="btn btn--icon icon-facebook">
          <img src="../../assets/icons/facebook.png" alt="" />
        </span>
        <span class="btn btn--icon icon-twitter">
          <img src="../../assets/icons/twitter.png" alt="" />
        </span>
      </div>
    </footer>
</template>

<style lang="scss">
@import "./_footer.scss";
</style>
