.container-footer {
  padding: 0.3rem 2rem;
  max-width: 123rem;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .container-footer {
    padding: 0.1rem 10.2rem;
  }
}


@media screen and (min-width: 767px) {
  .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .links .btn:nth-child(n + 2) {
    margin-left: 1.3rem;
  }
}

.footer__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  /* Media Queries */
}

.footer__social-networks [class*='icon'] {
  font-size: 2.5rem;
  margin-top: 0.6rem;
}

.footer__social-networks > *:nth-child(n + 2) {
  margin-left: 2rem;
}

@media screen and (min-width: 767px) {
  .footer__social-networks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
  }
}

.footer:before {
  content: "";
  position: absolute;
  border-top: 3px dotted #707070;
  top: -0.2rem;
  bottom: -0.2rem;
  left: -0.2rem;
  right: -0.2rem;
  z-index: -1;
}

@media screen and (min-width: 767px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}


.btn {
  cursor: pointer;
  padding: 1.1rem;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

h2 {
    all: unset,
}

button {
  all: unset;
}
