<template>
  <div>
    <NavBar />
    <Hero />
    <AboutUs />
    <Celebrities />
    <AddCelebrities />
    <div class="container-footer">
      <Footer />
    </div>
  </div>
</template>

<script>
import NavBar from "./Navbar/Navbar.vue";
import Hero from "./Hero/Hero.vue";
import AboutUs from "./AboutUs/AboutUs.vue";
import Celebrities from "./Celebrities/Celebrities.vue";
import AddCelebrities from "./AddCelebrity/AddCelebrity.vue";
import Footer from "./Footer/Footer.vue";

export default {
  data() {
    return {};
  },
  components: {
    NavBar,
    Hero,
    AboutUs,
    Celebrities,
    AddCelebrities,
    Footer,
  },
};
</script>

<style lang="scss">
@import "./_layoutPage.scss";
</style>
